.mainDiv{
    margin-top: 50px;
}

.titleDiv{
    padding-right: 0px;
    padding-left: 0px;
}

mat-card{
    background-color:#0099ff;
    color: white;
}

.mainContent p{
    padding: 15px;
    background-color: beige;
}